

    <%= bootstrap_form_for(@userdetail) do |f| %>
      <% if @userdetail.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@userdetail.errors.count, "error") %> prohibited this userdetail from being saved:</h2>

          <ul>
          <% @userdetail.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

              

              
                <%= f.text_field :first_name %>

             
             
            
                <%= f.text_field :last_name,  class: 'form-control input-lg' %>
              
              
                 <%= f.text_field :myuserid, label: "User ID"%>
              
             
                <%= f.date_select :birthday%>
              
              
                <%= f.text_field :gender %>
              
                <%= f.text_field :contact_number %>
             
               
                <%= f.text_area :address %>
             
               
                <%= f.text_field :country %>
              
                
                <%= f.text_field :state %>
              
                <%= f.text_field :city %>
              
                <%= f.date_select :gre_date %>
             
              
              <%= f.hidden_field :user_id %> 

      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>


