<div class="row">
  <div class="col-md-2">


  </div>
  <div class="col-md-8">

          <h1>Listing posts</h1>

          
        <table class="table">
            <thead>
              <tr>
                <th>User</th>
                <th>Issue</th>
                <th>Description</th>
                <th>Rating</th>
                <th colspan="3"></th>
              </tr>
            </thead>

            <tbody>
              <% @posts.each do |post| %>
                <tr>
                  <td><%= post.user_id %></td>
                  <td><%= post.issue %></td>
                  <td><%= post.description %></td>
                  <td><%= post.rating %></td>
<% 
=begin %>
                 

                 <td><%= link_to 'Show', @post %></td>
                    <td><%= link_to 'Edit', edit_post_path(post) %></td> 
                     <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td> 
                </tr>
                <% 
=end %>
              <% end %>
            </tbody>
          </table>

          <br>


  </div>

  <div class="col-md-2">


  </div>

</div>


