<p id="notice"><%= notice %></p>

<p>
  <strong>Issue:</strong>
  <%= @post.issue %>
</p>

<p>

  <strong>Topic_id:</strong>
  <%= @post.topic_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @post.rating %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
